body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: gray; 
}

header{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -25%;
    }

    #entete{
        border-style: solid;
        border-radius: 50px;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 55px;
        font-family: 'Montserrat', sans-serif;
    }
    h2{
        font-size: 35px;
    }
}

#menu {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    cursor: pointer;
}

.bouton-menu {
    color: black;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #d3b014;
    transition: width 0.3s ease, transform 0.3s ease;
}
